/*** Estilos generales ***/
:root {
    /* Variables para colores */
    --gris-oscuro: rgb(35, 35, 35);
    --gris-oscuro-sombra: rgba(35, 35, 35, 0.5);
    --gris-oscuro-transparente: rgba(35, 35, 35, 0.25);
    --acento-primario: rgb(181, 167, 75);
    --acento-primario-sombra: rgba(181, 167, 75, 0.5);
    --acento-primario-transparente: rgba(181, 167, 75, 0.25);
    --opacidad: 0.85
}

body {
    font-size: 1.15rem;
}

/* Importamos fuentes */
@font-face {
    font-family: 'DancingScript';
    src: url('../webfonts/DancingScript.ttf');
}

.font-elegante {
    font-family: "DancingScript", serif;
    text-shadow: 0 2px 3px var(--gris-oscuro);
}

.font-titulo {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
}


/* Sobreescribimos botones, links, de boostrap color primary*/

.btn.disabled, .btn:disabled {
    opacity: 0.3;
}

.btn-primary {
    color: #fff;
    background-color: var(--acento-primario);
    border-color: var(--acento-primario);
}

.btn-primary:hover {
    color: #fff;
    opacity: var(--opacidad);
    background-color: var(--acento-primario);
    border-color: var(--acento-primario);
}

.btn-primary:focus, .btn-primary.focus {
    color: #fff;
    background-color: var(--acento-primario);
    border-color: var(--acento-primario);
    box-shadow: 0 0 0 0.2rem var(--acento-primario-sombra);
}

.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: var(--acento-primario);
    border-color: var(--acento-primario);
}

.btn-primary.disabled:hover, .btn-primary:disabled:hover {
    opacity: 0.3;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: var(--acento-primario);
    border-color: var(--acento-primario);
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem var(--acento-primario-sombra);
}


a {
    color: var(--acento-primario);
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: var(--gris-oscuro);
    text-decoration: underline;
}

.btn-link {
    font-weight: 400;
    color: var(--gris-oscuro);
    text-decoration: none;
}

.btn-link:hover {
    color: var(--acento-primario);
    text-decoration: underline;
}

.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: var(--acento-primario);
}

.border, .border-*, hr, .card {
    border-color: var(--gris-oscuro-transparente) !important;
}

label {
    font-weight: 600;
    font-size: 0.9em;
}

.form-control, .custom-select, .select2-container--default .select2-selection--multiple {
    border-width: 2px;
    border-color: var(--gris-oscuro-transparente);
}

.form-control:focus, .select2-container--default.select2-container--focus .select2-selection--multiple {
    color: #495057;
    background-color: #fff;
    border-color: var(--acento-primario-transparente);
    box-shadow: 0 0 0 0.2rem var(--acento-primario-sombra);
}

.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: var(--acento-primario);
    background-color: var(--acento-primario);
}

.custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 0.2rem var(--acento-primario-sombra)
}


.custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::before {
    border-color: var(--acento-primario);
    background-color: var(--acento-primario);
}

.custom-checkbox .custom-control-input:disabled:checked ~ .custom-control-label::before {
    background-color: var(--acento-primario-sombra);
}

.custom-checkbox .custom-control-input:disabled:indeterminate ~ .custom-control-label::before {
    background-color: var(--acento-primario-sombra);
}


.custom-radio .custom-control-input:disabled:checked ~ .custom-control-label::before {
    background-color: var(--acento-primario-sombra)
}

.custom-switch .custom-control-input:disabled:checked ~ .custom-control-label::before {
    background-color: var(--acento-primario-sombra)
}

.custom-select:focus {
    border-color: var(--acento-primario);
    outline: 0;
    box-shadow: 0 0 0 0.2rem var(--acento-primario-sombra);
}

.custom-file-input:focus ~ .custom-file-label {
    border-color: var(--acento-primario);
    box-shadow: 0 0 0 0.2rem var(--acento-primario-sombra);
}

.custom-range:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem var(--acento-primario-sombra);
}

.custom-range:focus::-moz-range-thumb {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem var(--acento-primario-sombra);
}

.custom-range:focus::-ms-thumb {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem var(--acento-primario-sombra);
}

.custom-range::-webkit-slider-thumb {
    background-color: var(--acento-primario);
}

.custom-range::-moz-range-thumb {
    background-color: var(--acento-primario);
}

.custom-range::-ms-thumb {
    background-color: var(--acento-primario);
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #fff;
    background-color: var(--acento-primario);
}

.page-link {
    color: var(--acento-primario);
    background-color: #fff;
}

.page-link:hover {
    color: var(--acento-primario);
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.page-link:focus {
    box-shadow: 0 0 0 0.2rem var(--acento-primario-sombra);
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: var(--acento-primario);
    border-color: var(--acento-primario);
}

.badge-primary {
    color: #fff;
    background-color: var(--acento-primario);
}

a.badge-primary:hover, a.badge-primary:focus {
    color: #fff;
    background-color: var(--acento-primario);
    opacity: var(--opacidad);
}

a.badge-primary:focus, a.badge-primary.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem var(--acento-primario-sombra);
}
.progress-bar {
    color: #fff;
    background-color: var(--acento-primario);
}

.list-group-item.active {
    color: #fff;
    background-color: var(--acento-primario);
    border-color: var(--acento-primario);
}
.border-primary {
    border-color: var(--acento-primario) !important;
}

.text-primary {
    color: var(--acento-primario) !important;
}

/* Sobreescribimos fondos y otros elementosde gray */
.bg-dark {
    background-color: var(--gris-oscuro) !important;
}

.bg-primary {
    background-color: var(--acento-primario) !important;
}

a.bg-primary:hover, a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
    /* opacity: var(--opacidad);
    background-color: var(--acento-primario) !important; */
}

.table .thead-dark th {
    color: #fff;
    background-color: var(--gris-oscuro);
    border-color: var(--gris-oscuro-sombra);
}

.table-dark {
    color: #fff;
    background-color: var(--gris-oscuro);
}

/*** Estilos para el menu principal ***/
.menu ul li a {
    color: #fff !important;
    /* transition: color 300ms ease-in-out; */
}

.menu ul li a:hover {
    color: var(--acento-primario) !important;
    transition: color 300ms ease-in-out;
}

.menu li.active > a {
    color: var(--acento-primario) !important;
    font-weight: bold;
}

.menu ul li a::after {
    display: block;
    border-bottom: 3px solid var(--acento-primario);
    content: '';
    transform: scaleX(0);
    transition: transform 300ms ease-in-out;
}

.menu ul li a:hover:after,
.menu ul li.active > a::after {
    transform: scaleX(1);
}

/* Estilos listas de sortable */
.my-handle {
    cursor: move;
}

.invalid-feedback > ul {
    list-style: none;
    margin-bottom: unset;
}

/*** Estilos del carousel ***/
#carouselPlatos .carousel-item {
    max-height: 80vh;
}

#carouselPlatos .carousel-item img {
    width: 100%;
    max-height: 80vh;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    outline: solid 10px var(--gris-oscuro-sombra);
    background-color: var(--gris-oscuro-sombra);
}

.carousel-control-prev, .carousel-control-next {
    width: 60px;
}

.carousel-indicators li {

}

/*** Estilos tarjetas inicio ***/
.tarjeta {
    min-height: 500px;
    max-height: 500px;
}

.tarjeta .contenido {
    width: 70%;
}

.tarjeta h2 {
    font-size: 3.25em;
    margin-bottom: 20px;
}

.tarjeta p {
    text-align: justify;
    font-size: 1.25em;
    margin-bottom: 20px;
}

.tarjeta a {
    margin-bottom: 20px;
}
.tarjeta img {
    width: 90%;
    height: 500px;
}

/*** Pie de página ***/
#pie-pagina {
    font-size: 1.25em;
    padding-top: 30px;
    display: grid;
    color: white;
    background-color: var(--gris-oscuro);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    'p-info p-mapa p-redes'
    'p-dev p-dev p-dev';
    justify-items: center;
    align-items: center;
}

#pie-pagina a:hover {
    text-decoration: none;
    border-bottom: 2px solid var(--acento-primario);
}

#pie-pagina .info {
    grid-area: p-info;
    margin-left: 40px;
}

#pie-pagina .info p {
    margin-top: 20px;
}

#pie-pagina .mapa {
    grid-area: p-mapa;
}

#pie-pagina .mapa .active a {
    border-bottom: 2px solid var(--acento-primario);
}

#pie-pagina .mapa ul li {
    margin-bottom: 10px;
}

#pie-pagina a {
    color: white;
}

#pie-pagina a:hover {
    color: var(--acento-primario);
}

#pie-pagina .mapa .active a {
    color: var(--acento-primario);
}

#pie-pagina .redes {
    grid-area: p-redes;
    align-self: center;
}

#pie-pagina .redes div {
    font-size: 1.25em;
    margin-bottom: 10px;
}

#pie-pagina .redes div .icono {
    margin-right: 5px;
}

#pie-pagina .dev {
    grid-area: p-dev;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 20px;
    justify-items: center;
    align-items: center;

    width: 100%;
    padding: 20px;
    background-color: black;
    margin-top: 30px;
}

#pie-pagina .dev p:last-child a:hover {
    border: none;
    transform: scaleX(1.2);
}

#pie-pagina .dev p:last-child img:hover {
    transform: scaleX(1.05);
}

/*** Media query tablet ***/
@media (max-width: 991.98px) {
    body {
        font-size: 1rem;
    }


    .tarjeta {
        min-height: 600px;
    }

    .tarjeta h2 {
        font-size: 3em;
        margin-bottom: 20px;
    }

    .tarjeta img {
        width: 100%;
        height: 400px;
    }

    .tarjeta .contenido {
        width: 100%;
    }

    .font-elegante {
        font-family: "Dancing Script", serif;
    }

    .font-titulo {
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-transform: uppercase;
    }

    /*** Estilos footer tablet ***/
    #pie-pagina {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
      'p-info p-mapa'
      'p-redes p-redes'
      'p-dev p-dev';
    }

    #pie-pagina .redes {
        display: inline-flex;
        justify-content: space-around;
        border-bottom: 2px solid var(--white);
        padding: 0 30px;
    }

    #pie-pagina .redes span {
        display: none;
    }

    #pie-pagina .dev {
        grid-template-columns: 1fr;
        padding: 30px 0;
        gap: 10px;

        margin-bottom: unset;
        border-bottom: unset;
    }
}

/*** Media query smartphone ***/
@media (max-width: 575.98px) {
    body {
        font-size: 0.90rem;
    }

    .font-elegante {
        font-family: "Dancing Script", serif;
    }

    .font-titulo {
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-transform: uppercase;
        font-size: 2em;
    }

    .tarjeta {
        min-height: 600px;
    }

    .tarjeta h2 {
        font-size: 2.5em;
        margin-bottom: 20px;
    }

    .tarjeta img {
        width: 100%;
        height: 300px;
    }

    .tarjeta .contenido {
        width: 100%;
    }

    #carouselPlatos {
        max-width: 100vw;
        padding: unset;
    }

    #carouselPlatos .carousel-item {
        max-height: 30vh;
    }


    #carouselPlatos .carousel-item img {
        height: 30vh;
        max-height: 30vh;
    }

    /*** Estilos footer telefono ***/
    #pie-pagina {
        grid-template-columns: 1fr;
        grid-template-areas:
      'p-info'
      'p-mapa'
      'p-redes'
      'p-dev';
    }

    #pie-pagina section {
        border-bottom: 2px solid white;
        margin-bottom: 25px;
        width: 60%;
        padding: 0 20px;
    }

    #pie-pagina .info {
        margin-left: 0;
    }

    #pie-pagina .mapa ul {
        margin-left: 20px;
    }

    #pie-pagina .info img {
        margin-left: 0;
        width: 100%;
    }

    #pie-pagina .dev {
        grid-template-columns: 1fr;
        padding: 30px 0;
        gap: 10px;

        margin-bottom: unset;
        border-bottom: unset;
    }
}